body{
    background-color:#faf0e6;
    opacity: 1;
    margin: 0px 2px 0px 2px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.nav{
  overflow: hidden;
  background-color: #333;
}

.nav a{
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 21px;
}

.nav a:hover {
  background-color: green;
  color: black;
}

.nav a:active {
  background-color:lightgreen;
  color: black;
}

@media screen and (max-width: 600px) and (min-width: 200px) {
  .nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
} 

.name{
  position: relative;
}

.name h1{
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin: 5px 5px 15px 5px;
}

h3,h2,p{
  margin: 5px;
  padding: 0px;
}

ul,ol{
  margin: 5px;
  padding-left: 20px;
}

li{
  margin: 0px;
  padding:0px;
}

.sect2{
  overflow: hidden;
  display: flex;
  margin: 5px;
  align-items: stretch;
}

.left{
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 50%;
}

#me-pic{
  height: 95%;
  width: 95%;;
}

.intro-texts{
  width: 50%;
  text-align: justify;
}

@media screen and (max-width: 720px) and (min-width: 200px) {
  .sect2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
  .left,.intro-texts{
    width: 90%;
    align-self: center;
  }
  #me-pic{
    height: 100%;
    width: 100%;
  }
  .intro-texts p{
    margin: 2px 0px 2px 0px;
    padding: 2px 0px 2px 0px;
  }
} 
.sect3{
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.column{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  float: left;
  width: 33%;
  text-align: justify;
}

.column h2{
  text-align: center;

}
 
@media screen and (max-width: 720px) and (min-width: 200px) {
  .sect3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
  .column{
    width: 90%;
    background-color: cornsilk;
    border: 2px dotted black;
    align-self: center;
  }
} 

